*,
*:after,
*:before {
     box-sizing: border-box;
}

/*********** body ***********/		 
body {
	margin: 0px;
	font-family:'Open Sans', sans-serif;
	font-weight: 400;
}
header {
	background-color: #75e2e6;
	height: 75px;
	width: 100%;
	border-bottom: 5px solid #048eaa;
	top: 0px;
}
h2 {
	text-align: center;
}
button {
	font-size: 30px;
	background-color: #048eaa;
	width: 400px;
	height: 50px;
	color: #ffffff;
}
div p {
       	height: 250px;
       	width: 400px;
       	text-align: left;
}
section #text {
	color: #ffffff;
}

/*********** Nav **********/
 .nav-list {
 	color: black;
 	text-decoration: none;
 	padding: 20px;
}
#nav-img {
	height:75px;
	width:75px;
	padding: 10px;
} 	
.nav-bar {
	display: inline-block;
	float: right;
	font-size: 22px;
	padding: 20px;
    font-family:'Open Sans', sans-serif;
}	

/********** Top **********/
h1 {
	margin: 0px;
	color: #ffffff;
	padding: 40px;
	font-size: 40px;
	font-weight: 400;	
}

#top {
	text-align: center;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/park.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 670px;
}
.top-textarea {
	width: 400px;
	height: 40px;
	margin-bottom: 20px;
	font-size: 25px;
}       
#top-form-button {
	width: 400px;
	height: 50px;	
	font-size: 20px;
	background-color: #75e2e6;
	margin: auto;
	color: black;
	font-weight: 700;
	border: 1px solid #75e2e6;
}
.top-img {
	height: 300px;
	width: 300px;
	border-radius: 50% 50% 50% 50%;
	border: 5px solid #75e2e6;
}        	
#top-name-text {
	color: white;
	font-size: 20px;
	margin-left: 520px;
	text-align: left;
	margin-left: 520px;
}

/********* middle **********/		    
.middle-img {
	border-radius: 50% 50% 50% 50%;
	border: 5px solid #048eaa;
	height: 275px;
	width: 275px;
}
.middle-div {
	display: inline-block;
	width: 25%;
	font-size: 20px;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
}
#middle {
	margin: auto;
	height: 750px;
	text-align: center;
}

/********** footer **********/        
#footer {
	background-color: #048eaa;
	text-align: center;
	height: 300px;
	margin: auto;
	color: #ffffff;
	padding: 100px;
}